{% extends "base.html" %}

{% block title %}
    <title>Account Overview</title>
{% endblock %}

{% block content %}
    <canvas id="report">

    </canvas>
{% endblock %}

{% block footer %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('report');
      
        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: ['Income', 'Expense'],
            datasets: [{
              label: 'Account Overview',
              data: ["{{income.amount__sum}}","{{expense.amount__sum}}"],
              backgroundColor: ["green", "red"],
              borderWidth: 2
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      </script>
{% endblock%}